<% if @user %>
<div id="edit-article">

  <h1><%= @article.title %></h1>

  <form action="/articles/<%= @article["id"] %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <label for="title" class="form_label">Title: </label>
    <input type="text" name="title" id="title" placeholder="Ex: Home Brew 101" autofocus value="<%= @article.title %>">
    <br>
    <label for="content" class="form_label">Article Content: </label>
    <textarea name="content" id="content" placeholder="Enter text here..."><%=@article.content%></textarea>
    <label for="category_id" class="form_label">Choose a Category: </label>
      <select name= "category_id" id="category_id" form="category_id">
        <option value="" disabled selected>Select</option>
        <option value="1">Know Your Beer</option>
        <option value="2">Bartending Tips</option>
        <option value="3">Food Pairings</option>
        <option value="4">Home Brewing</option>
     </select>
    </select>
    <br>
    <br>
    <label for="img_url" class="form_label">Include an image: </label>
    <input type="text-area" name="img_url" id="img_url" placeholder="Ex: favoriteIPA.jpg"  value="<%= @article.img_url %>">
    <input type="submit" name="submit" id="submit" value="Submit Changes">
  </form>
  <form id="delete-article-form" action="/articles/<%= @article["id"] %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button class="delete-article-btn">Delete this Article</button>
  </form>
<% else %>
<div id="please-login-or-signup">
  <h3 class="please-login-or-signup">
   <a href="/login">Please <br><u>login or signup</u><br>to continue.</a>
  </h3>
</div>
<% end %>
</div>