<div id="edit-article">

  <h1><%= @article.title %></h1>

  <form action="/articles/<%= @article["id"] %>" method="POST">

    <input type="hidden" name="_method" value="patch">

    <label for="title" class="form_label">Title: </label>
      <input type="text" name="title" id="title" placeholder="Ex: Home Brew 101" autofocus value="<%= @article['title'] %>">
      <br>
      <label for="date_created" class="form_label">Date: </label>
      <input type="text" name="date_created" id="date_created" placeholder="MM/DD/YYYY" value="<%= @article['date_created'] %>">
      <br>
      <label for="content" class="form_label">Article Content: </label>
      <textarea name="content" form="new_article" placeholder="Enter text here..." value="<%= @article['content'] %>"></textarea>
     <label for="category_id" class="form_label">Choose a Category: </label>
        <select id="category_id" form="category_id">
          <option value="" disabled selected>Select</option>
          <option value="Know Your Beer">Know Your Beer</option>
          <option value="Bartending Tips">Bartending Tips</option>
          <option value="Food Pairings">Food Pairings</option>
          <option value="Home Brewing">Home Brewing</option>
       </select>
       <br>
       <br>
      <label for="img_url" class="form_label">Include an image: </label>
      <input type="text-area" name="img_url" id="img_url" placeholder="Ex: favoriteIPA.jpg"  value="<%= @article['img_url'] %>">
      <input type="submit" name="submit" id="submit" placeholder="Submit Changes">
    </form>
</form>

  <form action="/articles/<%= @article["id"] %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
  </form>

</div>