<div id="show-article">
  <h1><%= @article.title %></h1>
    <img class="article_img" src="<%= @article.img_url %>" alt="<%= @article.title %>">
    <div class="article-content">
      <%= $markdown.render(@article.content) %>
    </div>

    <a href="/articles/<%= @article.id %>/edit">Edit this Article</a>
</div>
